In [1]:
# Import packages for data manipulation
import pandas as pd
import numpy as np

In [3]:
# Load dataset into dataframe
df = pd.read_csv(r"D:\DATA\Python\User Churn\kraken_churn_demo_dataset.csv")

In [4]:
# View and inspect summary information about the dataframe 
df.head(10)

,user_id,label,transactions,trade_days,activity_days,days_since_onboarding,total_trade_volume_usd,avg_trade_size_usd,fees_paid_usd,session_minutes_total,sessions,asset_diversity,used_advanced_features,device
0,0,retained,3,3,8,8,169.702148,82.955593,0.296797,82.428451,16,2,0,Android
1,1,churned,2,1,5,23,971.910735,551.223154,1.948471,185.414814,14,1,0,iPhone
2,2,churned,3,2,4,44,172.476792,36.030457,0.286159,165.155415,6,4,0,Android
3,3,retained,19,9,12,222,416.302229,31.637348,0.881171,58.283429,9,7,0,Android
4,4,retained,2,2,5,215,266.558343,72.857876,0.400495,201.699895,14,2,1,iPhone
5,5,retained,5,4,9,27,100.690026,27.376870,0.170306,908.847269,66,6,0,Android
6,6,churned,0,0,4,13,0.000000,0.000000,0.000000,57.757308,9,1,0,Android
7,7,retained,16,8,13,1481,498.399792,20.019688,0.716244,281.304463,69,9,1,Android
8,8,retained,1,1,3,59,30.526352,40.783119,0.050844,342.055489,17,2,0,iPhone
9,9,retained,3,2,4,15,66.515823,32.283584,0.126785,60.870112,5,4,0,iPhone

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 15000 non-null  int64
 1   label                   14253 non-null  object
 2   transactions            15000 non-null  int64
 3   trade_days              15000 non-null  int64
 4   activity_days           15000 non-null  int64
 5   days_since_onboarding   15000 non-null  int64
 6   total_trade_volume_usd  15000 non-null  float64
 7   avg_trade_size_usd      15000 non-null  float64
 8   fees_paid_usd           15000 non-null  float64
 9   session_minutes_total   15000 non-null  float64
 10  sessions                15000 non-null  int64
 11  asset_diversity         15000 non-null  int64
 12  used_advanced_features  15000 non-null  int64
 13  device                  15000 non-null  object
dtypes: float64(4), int64(8), object(2)
memory usage: 1.6+ MB

In [6]:
# Observation: 
# 1. There are 15000 rows & 14 columns
# 2. The dataset has 747 missing values in the 'label' column

In [11]:
# Isolate rows with null values
null_df = df[df['label'].isnull()]
# Display summary stats of rows with null values
null_df.describe()

,user_id,transactions,trade_days,activity_days,days_since_onboarding,total_trade_volume_usd,avg_trade_size_usd,fees_paid_usd,session_minutes_total,sessions,asset_diversity,used_advanced_features
count,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000,747.000000
mean,7780.555556,15.082999,4.982597,9.006693,272.480589,2394.580206,105.175290,2.635704,292.188888,27.286479,5.153949,0.416332
std,4319.395958,17.060641,3.374874,4.251315,418.090358,11666.109365,150.413462,7.720095,351.627929,24.066059,2.618069,0.493280
min,25.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,4141.000000,4.000000,3.000000,6.000000,34.000000,169.159399,30.407039,0.289325,91.411698,11.000000,3.000000,0.000000
50%,7778.000000,10.000000,5.000000,9.000000,111.000000,640.616139,65.918414,1.068905,184.404268,22.000000,5.000000,0.000000
75%,11549.500000,20.000000,7.000000,12.000000,283.500000,1807.380998,126.894949,2.843805,373.577815,34.000000,7.000000,1.000000
max,14983.000000,133.000000,17.000000,23.000000,1982.000000,261951.448940,2127.248034,164.974743,4057.240554,218.000000,15.000000,1.000000

In [12]:
# Isolate rows without null values
not_null_df = df[~df['label'].isnull()]
# Display summary stats of rows without null values
not_null_df.describe()

,user_id,transactions,trade_days,activity_days,days_since_onboarding,total_trade_volume_usd,avg_trade_size_usd,fees_paid_usd,session_minutes_total,sessions,asset_diversity,used_advanced_features
count,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000,14253.000000
mean,7484.769873,13.551603,4.644847,8.712061,277.011857,1761.639541,108.190959,2.153768,279.937520,26.591033,4.881569,0.410440
std,4330.488691,17.229346,3.304207,4.292282,435.312344,9195.768862,157.548831,5.260790,338.786076,24.053029,2.687484,0.491931
min,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,3722.000000,3.000000,2.000000,6.000000,35.000000,138.930151,29.089322,0.233454,85.470422,11.000000,3.000000,0.000000
50%,7484.000000,8.000000,4.000000,9.000000,99.000000,511.845419,62.538882,0.854863,179.161546,20.000000,5.000000,0.000000
75%,11234.000000,17.000000,7.000000,12.000000,287.000000,1534.851367,129.414565,2.455033,348.873012,35.000000,6.000000,1.000000
max,14999.000000,211.000000,20.000000,24.000000,1999.000000,911802.359516,6182.199236,413.492756,8050.562185,441.000000,22.000000,1.000000

In [ ]:
# Comparing summary statistics of the observations with missing retention labels with those that aren't missing any values reveals nothing remarkable.
# The means and standard deviations are fairly consistent between the two groups.

In [13]:
# How many iPhone users had null values and how many Android users had null values?
# Get count of null values by device
null_df['device'].value_counts()

device
iPhone     465
Android    282
Name: count, dtype: int64

In [14]:
# Calculate % of iPhone nulls and Android nulls
null_df['device'].value_counts(normalize=True)

device
iPhone     0.62249
Android    0.37751
Name: proportion, dtype: float64

In [15]:
# Calculate % of iPhone users and Android users in full dataset
df['device'].value_counts(normalize=True)

device
iPhone     0.6518
Android    0.3482
Name: proportion, dtype: float64

In [ ]:
# The percentage of missing values by each device is consistent with their representation in the data overall.
# There is nothing to suggest a non-random cause of the missing data.

In [19]:
# Examine the counts and percentages of users who churned vs. those who were retained.
# How many of each group are represented in the data?

# Calculate counts of churned vs. retained
print(df['label'].value_counts())
print()
print(df['label'].value_counts(normalize=True))

label
retained    11099
churned      3154
Name: count, dtype: int64

label
retained    0.778713
churned     0.221287
Name: proportion, dtype: float64

In [ ]:
# This dataset contains 78% retained users and 22% churned users.

In [ ]:
# Next, compare the medians of each variable for churned and retained users. 
# The reason for calculating median and not the mean is not to let outliers unduly affect the porta

In [25]:
# Calculate median values of all columns for churned and retained users
df.groupby('label').median(numeric_only=True)

,user_id,transactions,trade_days,activity_days,days_since_onboarding,total_trade_volume_usd,avg_trade_size_usd,fees_paid_usd,session_minutes_total,sessions,asset_diversity,used_advanced_features
label,,,,,,,,,,,,
churned,7367.0,4.0,2.0,4.0,57.0,295.784808,62.476133,0.506102,101.219956,11.0,4.0,0.0
retained,7524.0,9.0,5.0,10.0,115.0,558.618151,62.562482,0.931532,203.440423,23.0,5.0,0.0

In [24]:
#Snapshot Insights:
# 1. Engagement and Frequency:
# Retained users executed 9 transactions over 5 trading days, and opened apps on 10 days.
# Churen users executed only 4 transactions over 2 trading days, with app activity on just 4 days.
# Retained users have more individuals sessions (23), more than twice churned users (11)
# Retained users spend more time on app than churned users (203 mins vs. 101 mins)
# It means retained users engage more consistently, active on more days, open app more often, spend more time in the app.
# 2. Tenure
# Retained users have been onboarded for ~115 days, compared to only ~57 days for churned users.
# Longer tenure associated with higher retention
# 3. Trading Behavior & Volume
# Retained users trade nearly x2 total volume of churned users ($559 vs $296)
# Average trade size is nearly the same in two groups (~$62)
# Retained users trade a broader set of assets (5 assets vs 4 for churned users)
# It implies retained users are unnecessarily trading larger positions per trade but rather trading more frequently and consistently.
# 4. Advanced Features
# The median value for used_advanced_features is 0 for both groups, suggesting that while advanced features matter at the margin, most median users are spot traders. So differences in churn are not driven by advanced feature usage.

In [ ]:
#Deep Dive Analysis

In [32]:
# Trade volume per trade day
df['volume_per_trade_day']= df['total_trade_volume_usd'] / df['trade_days']
median_volume_per_trade_day=df.groupby('label').median(numeric_only=True)[['volume_per_trade_day']]
median_volume_per_trade_day

          volume_per_trade_day
label
churned             318.178981
retained            128.228273

In [29]:
# Trades per activity day
df['trade_per_active_day']=df['transactions'] / df['activity_days']
median_trade_per_active_day=df.groupby('label').median(numeric_only=True)[['trade_per_active_day']]
median_trade_per_active_day

          trade_per_active_day
label
churned               1.111111
retained              1.000000

In [30]:
# Minutes per session
df['minutes_per_session']=df['session_minutes_total'] / df['sessions']
median_minutes_per_session=df.groupby('label').median(numeric_only=True)[['minutes_per_session']]
median_minutes_per_session

          minutes_per_session
label
churned              9.198639
retained             9.087366

In [31]:
# Fees per $ volume
df['fee_per_volume']=df['fees_paid_usd'] / df['total_trade_volume_usd']
median_fee_per_volume=df.groupby('label').median(numeric_only=True)[['fee_per_volume']]
median_fee_per_volume

          fee_per_volume
label
churned         0.001633
retained        0.001621

In [34]:
# Medians of these derived metrics by churn segment
df.groupby('label').median(numeric_only=True)[['volume_per_trade_day','trade_per_active_day', 'minutes_per_session', 'fee_per_volume']]

,volume_per_trade_day,trade_per_active_day,minutes_per_session,fee_per_volume
label,,,,
churned,318.178981,1.111111,9.198639,0.001633
retained,128.228273,1.000000,9.087366,0.001621

In [ ]:
# Churned users trades ~2.5x more volume per trading day than retain users ($318 vs$128). That implied churned users concentrate more capital into fewer trading days, suggesting short-term, high-intensity trading behaviorlikely speculation-driven rather than habit-driven. 
# Churned users execute slightly more trades per day when they open the app. When churned users are active, they are marginally more aggressive, compressing activity into short bursts instead of spreading it across many days
# Time per Session, fee per volume is nearly identical across both groups. Churn is not explained by time spent per visit or fee structure.

In [36]:
# Examine whether there is an imbalance in how many users churned by device type.
# For each label, calculate the number of Android users and iPhone users
df.groupby(['label','device']).size()

label     device
churned   Android    1153
          iPhone     2001
retained  Android    3788
          iPhone     7311
dtype: int64

In [39]:
df.groupby('label')['device'].value_counts(normalize=True).round(4)

label     device
churned   iPhone     0.6344
          Android    0.3656
retained  iPhone     0.6587
          Android    0.3413
Name: proportion, dtype: float64

In [ ]:
#The device mix between churned and retained users is very similar.
#The difference in iPhone share (~2.5% points) is small and unlikely to be practically meaningful.

In [40]:
# Advanced feature usage vs churn (quick sanity check)
df.groupby(['label','used_advanced_features']).size()

label     used_advanced_features
churned   0                         2244
          1                          910
retained  0                         6159
          1                         4940
dtype: int64

In [41]:
df.groupby('label')['used_advanced_features'].value_counts(normalize=True).round(4)

label     used_advanced_features
churned   0                         0.7115
          1                         0.2885
retained  0                         0.5549
          1                         0.4451
Name: proportion, dtype: float64

In [ ]:
#Retained users are significantly more likely to use advanced features.
#Users who used advanced features are: ~1.5 more represented among retained users than churned users, less likely to churn relative to spot-only users.

In [44]:
# Asset diversification vs churn (median + distribution peek)
df.groupby('label')['asset_diversity'].describe()

            count      mean       std  min  25%  50%  75%   max
label
churned    3154.0  4.182942  2.371429  1.0  2.0  4.0  6.0  22.0
retained  11099.0  5.080097  2.738494  1.0  3.0  5.0  7.0  22.0

In [ ]:
#Retained users tend to trade a broader set of assets. Churned users are more narrowly focused, while retained users diversify across more assets.